In [1]:
from pymongo import MongoClient
import pandas as pd

In [2]:
connectiion_string =  "mongodb+srv://gchaudary99:Devi1513@cluster0.egmhq.mongodb.net/"

In [3]:
client = MongoClient(connectiion_string)

In [4]:
db = client['testing']
collection = db['test']

In [5]:
post = {'_id':1, 'name': 'Gowtham', 'age':24}

In [6]:
collection.insert_one(post)

InsertOneResult(1, acknowledged=True)

In [7]:
post1 = {'_id':2, 'name': 'Grishma', 'age':24}
post2 = {'_id':3, 'name': 'Sanjana', 'age':28}

In [8]:
collection.insert_many([post1, post2])

InsertManyResult([2, 3], acknowledged=True)

In [ ]:
find3 = collection.find({'_id':3})
 
for find in find3:
    print(find)

{'_id': 3, 'name': 'Sanjana', 'age': 28}

In [16]:
find3 = collection.find({'_id':3})
 
for find in find3:
    print(find['name'])

Sanjana

In [19]:
delete = collection.delete_one({"_id":3})

In [22]:
upd = collection.update_one({'_id':1}, {'$set':{'name': "Gowtham Venkat"}})
upd1 = collection.update_one({'_id':2}, {'$set':{'name':"Grishma Reddy"}})

In [24]:
collection.count_documents({})

2