In [2]:
import pandas as pd

In [3]:
data = pd.read_csv(r"C:\Users\gchau\Downloads\matches.csv", encoding = "utf-8")

In [4]:
data.head(5)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [5]:
top_player = data['player_of_match'].value_counts().idxmax()
top_count = data['player_of_match'].value_counts().max()
print(f"The player with the most 'player_of_match' awards is {top_player} with {top_count} awards.")

The player with the most 'player_of_match' awards is CH Gayle with 21 awards.

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [7]:
data.describe()

                 id       season  dl_applied  win_by_runs  win_by_wickets
count    756.000000   756.000000  756.000000   756.000000      756.000000
mean    1792.178571  2013.444444    0.025132    13.283069        3.350529
std     3464.478148     3.366895    0.156630    23.471144        3.387963
min        1.000000  2008.000000    0.000000     0.000000        0.000000
25%      189.750000  2011.000000    0.000000     0.000000        0.000000
50%      378.500000  2013.000000    0.000000     0.000000        4.000000
75%      567.250000  2016.000000    0.000000    19.000000        6.000000
max    11415.000000  2019.000000    1.000000   146.000000       10.000000

In [8]:
data.shape

(756, 18)

In [9]:
data.size

13608

In [10]:
bat_first = data[data['toss_decision'] == 'bat'].shape[0]
bowl_first = data[data['toss_decision'] == 'field'].shape[0]
print(f"Number of matches where the team batting first won: {bat_first}")
print(f"Number of matches where the team bowling first won: {bowl_first}")
data['result'].value_counts()

Number of matches where the team batting first won: 293
Number of matches where the team bowling first won: 463

result
normal       743
tie            9
no result      4
Name: count, dtype: int64

In [11]:
data['toss_decision'].value_counts()

toss_decision
field    463
bat      293
Name: count, dtype: int64

In [12]:
most_wins_team = data['winner'].value_counts().idxmax()
most_wins_count = data['winner'].value_counts().max()        
print(f"The team with the most wins is {most_wins_team} with {most_wins_count} wins.")
most_wins_teams = data['winner'].value_counts()
most_wins_teams

The team with the most wins is Mumbai Indians with 109 wins.

winner
Mumbai Indians                 109
Chennai Super Kings            100
Kolkata Knight Riders           92
Royal Challengers Bangalore     84
Kings XI Punjab                 82
Rajasthan Royals                75
Delhi Daredevils                67
Sunrisers Hyderabad             58
Deccan Chargers                 29
Gujarat Lions                   13
Pune Warriors                   12
Rising Pune Supergiant          10
Delhi Capitals                  10
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: count, dtype: int64

In [13]:
# Find the team with the most wins at each venue
venue_team_wins = data.groupby(['venue', 'winner']).size().reset_index(name='win_count')

# Find the venue-team pair with the maximum wins
max_win_row = venue_team_wins.loc[venue_team_wins['win_count'].idxmax()]

print(f"Team with most wins at a venue: {max_win_row['winner']} at {max_win_row['venue']} with {max_win_row['win_count']} wins.")
max_win_row

Team with most wins at a venue: Kolkata Knight Riders at Eden Gardens with 45 wins.

venue                 Eden Gardens
winner       Kolkata Knight Riders
win_count                       45
Name: 42, dtype: object

In [18]:
most_wins= data["winner"].value_counts()

In [19]:
# Find the team with the most wins at each venue
venue_team_wins = data.groupby(['venue', 'winner']).size().reset_index(name='win_count')

# Find the venue-team pair with the maximum wins
min_win_row = venue_team_wins.loc[venue_team_wins['win_count'].idxmin()]

print(f"Team with most wins at a venue: {min_win_row['winner']} at {min_win_row['venue']} with {min_win_row['win_count']} wins.")
min_win_row

Team with most wins at a venue: Chennai Super Kings at ACA-VDCA Stadium with 1 wins.

venue           ACA-VDCA Stadium
winner       Chennai Super Kings
win_count                      1
Name: 0, dtype: object

In [16]:
toss_match_wins = toss_match_wins[toss_match_wins['toss_winner'] == toss_match_wins['winner']]
toss_match_wins

NameError: name 'toss_match_wins' is not defined